div{
    margin: 0 auto;
    width:40%;
    text-align: center;

}

h2{
font-size: 2em;
margin: 0 auto;
    vertical-align:middle;

}

p{
font-size: 1em;
}

button{
font-weight: 500;
font-size: 1.3em;
}

#tim {
    text-align: center;
    vertical-align:middle;
  width : 20%;
  float:left;

}

#cap{
  font-weight: 500;
  font-size: 1.5em;
  color: red;
  visibility: hidden;
}