
#container {

    text-align: center;
    width: 40%;
    margin: 0 auto;
}

table{
  width: 80%;
  margin: 0 auto;
    border-collapse: collapse;

}



button{
  width: 110px;
  height: 40px;
  font-size: 1.2em;
  background-color: Lavender ;
}


span{
display:none;
}


